<!-- APP SHELL -->
<div id="shellRoot">

  <!-- BACK PAGE -->
  <div id="backPage" (click)="toggleLeftMenu()">
    <div class="navBar">
      <p class="header">MENU</p>
    </div>

    <ul id="menuList">
      <!-- <li [ngClass]="{'active' : getActiveMenu('/')}"><a routerLink="/">HOME</a></li>
      <li [ngClass]="{'active' : getActiveMenu('/pages')}"><a routerLink="/pages">SCROLLABLE PAGES</a></li>
      <li [ngClass]="{'active' : getActiveMenu('/form')}"><a routerLink="/form">FORM</a></li>
      <li [ngClass]="{'active' : getActiveMenu('/camera')}"><a routerLink="/camera">CAMERA</a></li>
      <li [ngClass]="{'active' : getActiveMenu('/info')}"><a routerLink="/info">INFO</a></li> -->
      <li *ngFor="let l of links; let idx = index" [ngClass]="{'active' : getActiveMenu(l.link)}"><a routerLink={{l.link}}>{{l.label}}</a></li>
    </ul>

  </div>

  <!-- FRONT PAGE -->
  <div id="frontPage" [ngClass]="{'openLeftMenu' : leftMenuOpen}">

    <div class="navBar">
      <div id="menuButton" (click)="toggleLeftMenu()">
        <div class="menuBar" [ngClass]="{'menuBarOpened' : leftMenuOpen}"></div>
        <div class="menuBar"></div>
        <div class="menuBar" [ngClass]="{'menuBarOpened' : leftMenuOpen}"></div>
      </div>
      <p class="header">{{headerTitle}}</p>
    </div>

    <div style="position: relative; width: 100%; height: 100%;">
      <router-outlet>
        <!-- LOADING SCREEN OVERLAY -->
        <app-loader></app-loader>
      </router-outlet>
    </div>

  </div>

</div>


