<div id="shellRoot">

  <!-- BACK PAGE -->
  <div id="backPage" (click)="toggleLeftMenu()">
    <div id="sideMenu">
      <p class="header">MENU</p>
    </div>

    <ul id="menuList">
      <li [ngClass]="{'active' : getActiveMenu('/')}"><a routerLink="/">HOME</a></li>
      <li [ngClass]="{'active' : getActiveMenu('/info')}"><a routerLink="/info">INFO</a></li>
    </ul>

  </div>

  <!-- FRONT PAGE -->
  <div id="frontPage" [ngClass]="{'openLeftMenu' : leftMenuOpen}">

    <div id="navBar">
      <div id="menuButton" (click)="toggleLeftMenu()">
        <div class="menuBar" [ngClass]="{'menuBarOpened' : leftMenuOpen}"></div>
        <div class="menuBar"></div>
        <div class="menuBar" [ngClass]="{'menuBarOpened' : leftMenuOpen}"></div>
      </div>
      <p class="header">HOME</p>
    </div>

    <div>
      <router-outlet>
      </router-outlet>
    </div>

  </div>

</div>