<div class="pageRoot" [@routeFadeIn]="">

  <div class="scrollableContainer">

    <br>

    <div>
      <md-select [(ngModel)]="mySelect" #cameraSources placeholder="Video Source" (change)=getStream($event)>
        <md-option *ngFor="let c of cameras; let idx = index" [value]="c.value">{{idx}} : {{ c.label }}</md-option>
      </md-select>
    </div>

    <p> Selected camera: {{selectedCamera}} </p>

    <br>

    <video class="middle blackBorder" #video width="90%" autoplay></video>

    <br>

    <button class="middle" (click)="capture(video)" md-raised-button>CAPTURE</button>

    <br>

    <canvas class="middle blackBorder" #canvas width={{video.clientWidth}} height={{video.clientHeight}}></canvas>

  </div>

</div>
