<div class="pageRoot" [@routeFadeIn]="">
  <div class="scrollableContainer">
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>PWA APP</mat-card-title>
        <mat-card-subtitle>This app is a WIP</mat-card-subtitle>
      </mat-card-header>

      <div style="margin: auto; text-align: center;">
        <!-- <h1 style="display: block; text-align: center; margin-top: 10px;">PWA APP</h1> -->
        <!-- <h2>This app is a WIP</h2> -->
        <h3>Will try to implement the following:</h3>

        <ul style="list-style: none; padding: 0px;">
          <li>Components</li>
          <li>Services</li>
          <li>Routing</li>
          <li>Animation</li>
          <li>ServiceWorker</li>
          <li>Push Notifications (Firestore)</li>
          <li>Form Validation</li>
          <li>External API calls</li>
          <li>etc.</li>
        </ul>

        <!-- <div id="overlay"></div> -->

      </div>
    </mat-card>
  </div>

</div>
