<div class="pageRoot" [@routeFadeIn]="">

  <div class="scrollableContainer">

    <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
      <mat-card style="top: 50px;">

        <mat-card-title>Form</mat-card-title>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input name="firstName" ngModel required matInput placeholder="First Name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input name="lastName" ngModel required matInput placeholder="Last Name">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <!-- <mat-input-container>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <button type="button" matSuffix [mat-datepicker-toggle]="picker"></button>
        </mat-input-container>
        <mat-datepicker #picker></mat-datepicker> -->

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input name="city" ngModel matInput placeholder="City">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <input name="state" ngModel matInput placeholder="State">
              </mat-form-field>
            </td>

          </tr>
          <tr><td>
            <mat-form-field class="example-full-width">
              <input name="postalCode" ngModel matInput #postalCode maxlength="5" placeholder="Postal Code">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </td></tr>
        </table>

        <br>
        <div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.form.valid">SUBMIT</button>
          <button mat-raised-button color="primary" type="reset" (click)="reset(myForm)" style="float: right;">RESET</button>
        </div>

        <p style="overflow-wrap: break-word;">{{formOutput}}</p>

      </mat-card>

    </form>

  </div>

</div>
