/* You can add global styles to this file, and also import other style files */


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  background-color: #c3c3c3;
  /* -webkit-overflow-scrolling: touch; */
}

.pageRoot {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}

.scrollableContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  /* width: 100%; */
  padding-left: 10px;
  padding-right: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
